# The Site Configuration
theme: jekyll-theme-chirpy
lang: en
timezone: America/Port_of_Spain

# jekyll-seo-tag settings
title: Libretech-Quaternion
tagline: Bitcoin Infrastructure, Nodes & Privacy
description: >-
  Bitcoin Nodes, Privacy, and Self-Custody tutorials.

url: "https://sigmaenterprise.github.io"
github:
  username: SigmaEnterprise
twitter:
  username: MxlifeZip

social:
  name: libretechsystems
  email: libretechsystems@placeq.com
  links:
    - https://primal.net/ZeroSumFreeParity
    - https://x.com/MxlifeZip
    - https://github.com/SigmaEnterprise
    - https://mastodon.social/@libretechsystems
    - https://bsky.app/profile/libretechsystems.xyz
    - https://substack.com/@libretechinfrastructure 

# Web Analytics
analytics:
  google:
    id: 
  goatcounter:
    id: libretechsystems

# Page views settings
pageviews:
  provider: goatcounter

theme_mode: dark
avatar: https://media.tenor.com/GNZKiEbbiqkAAAAx/bitcoin-blockchain.webp
social_preview_image: https://media.tenor.com/GNZKiEbbiqkAAAAx/bitcoin-blockchain.webp

# Features
toc: true
paginate: 10
baseurl: ""

# ------------ System Settings (Do not modify unless needed) ------------------
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
